<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.monika.inzynierka">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="pl.polsl.project.activityClasses.MainScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="pl.polsl.project.activityClasses.StatisticsActivity"
            android:label="@string/app_stat_screem"></activity>
        <activity android:name="pl.polsl.project.activityClasses.ListExpenseActivity" />
        <activity android:name="pl.polsl.project.activityClasses.AddExpenseActivity" />
        <activity android:name="pl.polsl.project.activityClasses.AddProductActivity" />
        <activity android:name="pl.polsl.project.activityClasses.CategoryActivity" />
        <activity android:name="pl.polsl.project.activityClasses.ShowExpenseActivity" />
        <activity android:name="pl.polsl.project.activityClasses.ShowProductActivity" />
    </application>

</manifest>