<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.polsl.project">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activityClasses.MainScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activityClasses.StatisticsActivity"
            android:label="@string/app_stat_screem"
            android:screenOrientation="portrait"/>
        <activity android:name=".activityClasses.AddExpenseActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activityClasses.AddProductActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activityClasses.CategoryActivity" />
        <activity android:name=".activityClasses.ShowExpenseActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activityClasses.ShowProductActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activityClasses.EditProductActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activityClasses.EditExpenseActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activityClasses.ListExpensesTabbedActivity"
            android:label="@string/title_activity_list_expenses_tabbed"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"></activity>
    </application>

</manifest>